h1 {
    font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
}

p,li {
    font-family: Arial, Helvetica, sans-serif;
    color: dimgrey;
    line-height: 1.5;
}

a{
    color: green;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

img {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 8px 8px 15px #ccc;
}
