/*
Tipografia:
Fredericka the Great
Open Sans
Pacifico

Cores:
Verde Escuro: #065902
Verde Mais Claro: #078C31
Amarelo: #F2B705
Vermelho mais Claro: #F03733
Vermelho Escuro: #D90404

Cinza Escuro: #404040
Cinza Bem Claro: #F7F7F7
*/
*{
    font-size: 16px;
}

h1, h2, h3{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    text-transform: uppercase;
    color: #D90404;
}

h4,h5,h6{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #F2B705;
}

h1{
    font-size: 600%;
    font-weight: 200;
}
h2{
    font-size: 400%;
    font-weight: 200;
}

h4{
    font-size: 150%;
    font-weight: 150;
    padding: 20px 0;
}

p, li, a{
    font-family: 'Open Sans', sans-serif;
    color: #404040;
}

p.destaque{
    font-size: 130%;
    line-height: 1.8;
    font-weight: 300;

    text-align: center;
    width: 60%;
}

/*-------------------*/
/*Elementos do header*/
/*-------------------*/
header div#chamada h1{
    color: #FFF;
    text-shadow: 4px 6px 50px black;
}

header div#chamada h4{
    font-size: 250%;
    text-shadow: 4px 6px 50px black;
    margin-bottom: 55px;
}

header div#chamada a {
    font-size: 110%;
    color: white;
    text-decoration: none;
    font-weight: 600;

    padding: 20px 80px;
    border-radius: 50px;

    background: linear-gradient(rgba(7,140,49,55) 0%, rgba(6,89,2,35) 50%, rgba(6,89,2,35) 100%);
}

/*------------------------*/
/*SECAO - DOMINGO PERFEITO*/
/*------------------------*/

div.pontos-chaves h4{
    color: #404040;
}

div.pontos-chaves h4::after{
    display: block;
    background-color: #078C31;

    height: 5px;
    width: 30%;
    margin: 20px auto 10px;
    content: "  ";
}


